@model ThAmCo.Events.Models.CustomerEventViewModel

@{
    ViewData["Title"] = "Attended";
}

<h2>@ViewData["Name"]</h2>

<div>
    <h4>Events attended</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<partial name="_EventsAttended" for="Events" />

<div>
    <a asp-action="Index">Back to List</a>
</div>
